$primary-color: #1c2b97;
$primary-color-light: #9fa8da;

$white-color: #fff;
$black-color: #000;

$gray-color-dark: #3d3d3d;
$gray-color: #2c2c2c;
$gray-color-light: #686868;

$purple-color-dark: #6a1b9a;
$purple-color-light: #ab47bc;

$green-color-dark: #1b5e20;
$green-color-light: #4caf50;

$orange-color-dark: #e65100;
$orange-color-light: #ff9800;

// Grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;
